/* Universal Selector */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Oswald", sans-serif;
    color: black;
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
/* to align the header to center */
header{
    text-align:center;

}
/* to add border for the header */
header h1{
    font-size: 2.5rem;
    font-weight: 600 ;
    border: 5px solid #ceb1b1;
} 
/* to add a background for the navigation area */
nav{
    padding: 15px;
    background: #dbd8d8; 
}
/* to align the sub-pages headings on the webpage */
nav ul{
    display: flex;
    flex-direction: row;
    gap:2rem;
    justify-content:space-evenly ;
    align-items: center;
}
/* to change/remove the bullet points */
nav ul li {
    list-style: none;
}

nav ul li a{
    /* to remove the underline */
    text-decoration: none;  
    color:yellow;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    /* to control the tranition of the purple box in nav bar aka smoothen it */
    transition:all 0.5s ease-in-out ;

}


nav ul li a:hover{
    background-color:mediumslateblue;
    transform: translateY(-10px);

}

/* to design the contact form */
#contacts form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.submit-button{
    width: 5rem;
    height: 2.5rem ;
    padding: 0.5rem 1rem;
    border-radius: 15%;
}

.form-section{
    border: 1px ;
    
}