.profile-card{
    border:1px solid #ccc;
    padding: 20px;
    border-radius:8px;
    text-align:center;
    margin:10px;
    background-color:brown;


}

.name-text{
    color: black;
    font-size:24px;

}

